<!DOCTYPE html>
<html>
<head>
	<title>MY blog</title>
	<style type="text/css">
		body{margin:30px;
			border-style: ridge;
			padding:10px;}
		.postcontent{font-family: book antiqua;
					font-size:18pt;
					text-align: justify;}
		h1{text-align: center;}
	</style>
</head>
<body>
	<div>
		<h1><a href="/">Learning Django</a></h1>
	</div>
	{% for post in posts %}
	<div class='postcontent'>
		<p>Published: {{post.published_date}}</p>
		<p>Author: Nuh Yamin</p>
		<h1>{{post.title}}</h1>
		<p>{{post.text|linebreaksbr}}
	</div>
	{% endfor %}
</body>
</html>