.blogtitle h1{
	text-align: center;
	color:#fca205;
}

.blogtitle{
	background-color:powderblue;
	height: 150px;
}

.postcontent{
	margin: 10px;
	font-family: book antiqua;
	font-size:18pt;
	text-align: justify;
	border-style: ridge;
}

.postcontent h1{text-align: center;}

p{color:brown;}