body{
	padding:10px;
}

h1 a {
	color:#fca205;
	text-align: center;
}

div.blogtitle{
	background-color:#orange;
}

.postcontent{
	font-family: book antiqua;
	font-size:18pt;
	text-align: justify;
	border-style: ridge;
}

.postcontent h1{text-align: center;}

p{color:brown;}